[submodule "mymedtrust-fe"]
	path = mymedtrust-fe
	url = https://github.com/vanessaachristy/mymedtrust-fe.git
[submodule "mymedtrust-be"]
	path = mymedtrust-be
	url = https://github.com/vanessaachristy/mymedtrust-be.git
[submodule "mymedtrust-web3"]
	path = mymedtrust-web3
	url = https://github.com/vanessaachristy/mymedtrust.git
[submodule "mymedtrace-be-flask"]
	path = mymedtrace-be-flask
	url = https://github.com/vanessaachristy/mymedtrace-be-py.git
