[submodule "mymedtrace-fe"]
	path = mymedtrace-fe
	url = https://github.com/vanessaachristy/mymedtrust-fe.git
[submodule "mymedtrace-be"]
	path = mymedtrace-be
	url = https://github.com/vanessaachristy/mymedtrust-be.git
[submodule "mymedtrace-web3"]
	path = mymedtrace-web3
	url = https://github.com/vanessaachristy/mymedtrust.git
[submodule "mymedtrace-be-flask"]
	path = mymedtrace-be-flask
	url = https://github.com/vanessaachristy/mymedtrace-be-py.git
[submodule "mymedtrust-blockchain"]
	path = mymedtrust-blockchain
	url = https://github.com/vanessaachristy/mymedtrust.git
